<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DealOrNoDeal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secundary box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="imglogo" src ="/imagenes/Logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Juego" asp-action="index">Juego</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  <div class="container-fluid text-center">
  <div class="row">
 <footer class="footer text-muted"  >
        <div class="container text-white text-center">
            &copy; 2021 - DealOrNoDeal - Luciana Szwimer, Agustin Rabinowicz y Fausto Oliva
        </div>
         <div class="sociales">
            <center>
                <a href="https://www.instagram.com/dealornodealcnbc/?hl=es" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/dealnodealcnbc?lang=es" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://es-la.facebook.com/DealOrNoDealCNBC/" class="facebook"><i class="fab fa-facebook-f"></i></a>
            </center>
	     </div>
  </div></div>
 </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
