@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50">

  <source src="/Videos/Pulp Fiction.mp4" type="video/mp4" />

</video>

<br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="text-center">
<a class="btn btn-outline-light btn-lg" href="/Juego/index">Jugar</a>

</div>
<br><br><br><br><br><br><br><br><br><br>



