@{
    ViewData["Title"] = "Tutorial";
}
<body>
<div class="container" > 
    <div class="text-center pt-5">
        <h1 class="display-4 text-white">Tutorial de Deal Or No Deal</h1>
    </div>
   <p class="texto pt-5 mt-5 text-white">Hola, esto es Deal Or No Deal. Un juego en donde tenes 26 maletines, cada maletin tiene un valor, que va desde $1 a 
un millon de pesos!! Primero vas a tener que elegir un maletin de entre esos 26, que vas a conservar en todo el juego. Vas
a ir eliminando maletines y cada x maletines se le va a ofrecer una oferta, que es un promedio de los valores disponibles, si
acepta la oferta, se va a su casa con esa cantidad de plata; si la rechaza, seguirá jugando hasta que queden dos maletines. Al final,
puede elegir quedarse con el maletin elegido al comienzo del juego o elegir el otro maletin que quedó. Les deseamos suerte!</p>
</div>
</body>